/* Styles for the Registration Form */

/* Header */
h2 {
    text-align: center;
    color: #333;
    font-size: 34px;
    margin: 20px;
}

/* Form container */
form {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Section headings */
h3 {
    margin-bottom: 10px;
    color: #555;

}

/* Form inputs */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit{
    display: flex;
    justify-content: center;
}
/* Submit button */
.submit button {
    width: 25%;
    background-color: #546d55;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    display:inline-flex;
    justify-content: center;
    margin: 30px;
}

button:hover {
    background-color: #43a548;
}

/* File input */
input[type="file"] {
    margin: 20px;
    height: 100px;
    width: 120px;
}

/* Additional spacing */
form {
    margin-top: 20px;
}

img{
    width: 10px0;
    height: 70px;
}

/* Responsive design */
@media (max-width: 600px) {
    form {
        width: 80%;
    }
}

.location-container{

    width: 800px;
    display: inline-flex;
    padding-bottom: 20px;

}

.location{
    display: inline-flex;
    padding:0;
    width: 200px;
    margin:20px 40px 20px 0px;
}

.location select{
    font-size: 20px;
}

.icon{
    display: flex;
    max-width: 500px;
    height: auto;
    font-size: 20px;
}

label{
    width:150px;
    padding-right: 20px;
}

/* src/registration selector.css */

.registration-types {

    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.registration-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;

}

.registration-icon label {
    font-size: 20px;
    font-family: Georgia;

}

.registration-icon input[type="checkbox"] {
    width: 30px;
    height: 30px;
}

.button-container{
    justify-content: center;
    display:inline-flex;
    padding: 20px;
}


